* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  padding: 10em 10em;
  background: url('https://ei.marketwatch.com/Multimedia/2019/06/18/Photos/ZH/MW-HL648_artifi_20190618145625_ZH.jpg?uuid=c58ac3ec-91fa-11e9-a0a7-9c8e992d421e');
  /* opacity: 0.9; */
  background-position: center;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.glass {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px;
  color: #000;
  border-radius: 9px;
  backdrop-filter: blur(50px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  transform: translatey(-5%);
  transition: transform 0.5s;
}

.glass3 {
  width: 150%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  /* padding: 50px; */
  color: #FFFAE4;
  border-radius: 9px;
  backdrop-filter: blur(50px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  transform: translatey(-5%);
  transition: transform 0.5s;

}

.glass-1 {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px;
  color: rgb(122, 82, 82);
  border-radius: 9px;
  backdrop-filter: blur(50px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  transform: translatey(-5%);
  transition: transform 0.5s;
  font-size: 1.7rem;
}

.glass h1 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 1px #ffff, 0 0 1px #c9c7c7, 0 0 1px #ffffff;
}

.glass h2 {
  font-size: 1rem;
  margin-top: 20px;
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 1px #ffff, 0 0 1px #c9c7c7, 0 0 1px #ffffff;
}

.input {
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin-top: 40px;
}

.input input {
  width: 100%;
  height: 70px;
  border: none;
  padding-left: 30px;
  padding-top: 0;
  outline: none;
  font-size: 1.5rem;
  border-radius: 20px;
}

.glass p {
  font-size: 1.6rem;
  margin-top: 30px;
}

.his ul {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 25px;
  gap: 15px;
  padding-top: 10px;
  opacity: 0.8;

}

.his ul li a {
  text-decoration: none;
  /* color: white;
  font-size: 2rem; */

}





@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container1 {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  background: #ffffff;
  box-shadow: 0 0 5px #999999;
}

.login .col-left,
.login .col-right {
  padding: 30px;
  display: flex;
}

.login .col-left {
  width: 60%;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: #2aa15f;
}

.login .col-right {
  padding: 60px 0px;
  width: 50%;
  margin-left: -10%;
}

@media(max-width: 575px) {
  .login .container {
      flex-direction: column;
      box-shadow: none;
  }

  .login .col-left,
  .login .col-right {
      width: 100%;
      margin: 0;
      clip-path: none;
  }

  .login .col-right {
      padding: 30px;
  }
}

.login .login-text {
  position: relative;
  width: 100%;
  color: #ffffff;
}

.login .login-text h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}

.login .login-text p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.login .login-text .btn {
  display: inline-block;
  font-family: poppins;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: .3s;
}

.login .login-text .btn:hover {
  color: #2aa15f;
  box-shadow: inset 150px 0 0 0 #ffffff;
}

.login .login-form {
  position: relative;
  width: 100%;
}

.login .login-form h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 700;
}

.login .login-form p {
  margin: 0 0 10px 0;
  text-align: left;
  color: #666666;
  font-size: 15px;
}

.login .login-form p:last-child {
  margin: 0;
  padding-top: 3px;
}

.login .login-form p a {
  color: #2aa15f;
  font-size: 14px;
  text-decoration: none;
}

.login .login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: .5px;
}

.login .login-form p:last-child label {
  width: 60%;
  float: left;
}

.login .login-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.login .login-form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.login .login-form input:focus {
  border-color: #ff574e;
}

.login .login-form button,
.login .login-form input[type=submit] {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: #2aa15f;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #2aa15f;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #2aa15f;
  transition: .3s;
}

.login .login-form button:hover,
.login .login-form input[type=submit]:hover {
  color: #ffffff;
  box-shadow: inset 250px 0 0 0 #2aa15f;
}

#account {
  display: flex;
}




/* body {
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
} */

.box-form {
  margin: 0 auto;
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
}

@media (max-width: 980px) {
  .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
  }
}

.box-form div {
  height: auto;
}

.box-form .left {
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://ei.marketwatch.com/Multimedia/2019/06/18/Photos/ZH/MW-HL648_artifi_20190618145625_ZH.jpg?uuid=c58ac3ec-91fa-11e9-a0a7-9c8e992d421e");
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}

.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}

.box-form .left .overlay span a {
  background: #3b5998;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}

.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}

.box-form .right {
  padding: 40px;
  overflow: hidden;
}

@media (max-width: 980px) {
  .box-form .right {
      width: 100%;
  }
}

.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
}

.box-form .right p {
  font-size: 14px;
  color: #B0B3B9;
}

.box-form .right .inputs {
  overflow: hidden;
}

.box-form .right input {
  width: 100%;
  padding: 0px;
  margin-top: 25px;
  font-size: 17px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}


.login{
  
  font-size: 15px;
  
}

.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}

.box-form .right button {
  /* float: right; */
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #49c628a6;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #70F570;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #70F570;
}

label:hover::before .text-checkbox {
  background: #70F570;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}


.glow {
  /* font-size: 80px; */
  color: #fff;
  /* text-align: center; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 1px #fff, 0 0 1px #ffff, 0 0 1px #c9c7c7, 0 0 1px #ffffff;
}

.btn{
  background-color: blueviolet;
  border: none;
  transition: 0.3s ease all;
}
.btn:hover{
  background-color: blueviolet;
  opacity: 0.5;
}
.otp{
  display: none;
}